<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>registerservlet</display-name>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>com.servlet.registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <display-name>phonebook.app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>com.servlet.AddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/AddContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCont</display-name>
    <servlet-name>UpdateCont</servlet-name>
    <servlet-class>com.servlet.UpdateCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCont</servlet-name>
    <url-pattern>/UpdateCont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCont</display-name>
    <servlet-name>DeleteCont</servlet-name>
    <servlet-class>com.servlet.DeleteCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCont</servlet-name>
    <url-pattern>/DeleteCont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneratePDFServlet</display-name>
    <servlet-name>GeneratePDFServlet</servlet-name>
    <servlet-class>com.servlet.GeneratePDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePDFServlet</servlet-name>
    <url-pattern>/GeneratePDFServlet</url-pattern>
  </servlet-mapping>
</web-app>